* {
  margin: 0;
  padding: 0;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 500px;
  }
}

@media (min-width: 768px) {
  .container, .container-md, .container-sm {
    max-width: 680px;
  }
}

@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 900px;
  }
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1000px;
  }
}

.header {
  position: relative;
  background: url(../images/background.png) center center / cover no-repeat; 
  color: #fff;
}

.header > div {
  position: relative;
  z-index: 1;
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(244, 140, 130, 89%), rgba(252, 225, 138, 89%));
}

.navbar-nav a {
  text-transform: uppercase;
}

.navbar-nav a:hover {
  color: #fce38a !important;
}

.navbar-nav a.link-underlined:hover {
  border-bottom: 0.1em solid #fce18a;
}

p {
  color: #999999;
  font-size: 0.8em;
}

h2 {
  font-weight: 700; 
  font-size: 1.5em;
}

h3 {
  font-style: italic; 
  font-size: 1.3em; 
  font-weight: 400;
}

.main-progress {

}

.progress-block {
  width: 12em;
}

.progress-block:not(:last-child) {
  margin-right: 4em;
}

.progress-bar {
  position: relative; 
  height: 0.1em;
}

.progress-bar::before {
  content: "";
  position: absolute; 
  left: 0; 
  top: 0; 
  width: 100%; 
  height: 100%; 
  margin: 0; 
  background: #fff;
}

.progress-bar::after {
  content: "";
  position: absolute; 
  left: 0; 
  top: 0; 
  width: var(--progress); 
  height: 100%; 
  margin: 0; 
  background: #f38181; 
  z-index: 1;
}

.about-us {
  position: relative; 
  background: #95e1d3; 
  max-width: 45em; 
  height: 15em;
  color: #fff;
  flex-grow: 1;
}

.about-us > div {
  position:absolute; 
  left: 0; 
  right: 0; 
  top: 0; 
  bottom: 0; 
  transition: top .25s, bottom .25s, left .5s, right .5s, box-shadow .5s;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-us > div:hover {
  left: -1em;
  right: 1em;
  top: -1em;
  bottom: 1em;
  box-shadow: 1em 1em .5em .2em #bebebe80;
}

.about-us > div:hover::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(244, 140, 130, 89%), rgba(252, 225, 138, 89%));
  z-index: 0;
}

.facts-container {
  color: #fff;
  border-right: .1pt solid #fff8;
}

.facts-container:first-child {
  border-left: .1pt solid #fff8;
}

.numbers {
  font-weight: 700;
  font-size: 4em;
  line-height: 1em;
  margin-bottom: 0.3em;
}

.facts-container-description {
  font-size: 0.6em;
}

.facts-box {
  padding: 3em 3em;
  width: 13em;
}

.services-box {
  width: 20em;
  padding: 1em 0;
}

.services-box:not(:last-child) {
  margin-right: 2em;
}

.services-box i {
  color: #94e0d2;
  font-size: 1.5em;
}

.services-box-title { 
  font-size: 0.8em;
  font-weight: 600;
}

.feature-container {
  position: relative;
  background: url(../images/feature-background.png) center center / cover no-repeat;
  overflow-y: hidden;
}

.feature-container .container {
  position: relative;
  z-index: 1;
}

.feature-container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgb(255 255 255 / 84%);
  z-index: 0;
}

.pointer {
  cursor: pointer;
}

.accordion .card .fa-chevron-down {
  transition: transform .3s;
}

.accordion .card.open .fa-chevron-down {
  transform: rotate(180deg);
}

.collapse {
  margin: 1.25em;
  padding-right: 1em;
  overflow-y: auto;
  max-height: 11.4em;
}

.collapse p {
  padding: 0;
}

.team-container {
  position: relative; 
  background: #95e1d3; 
  width: 15em; 
  height: 18em;
  color: #fff;
  flex-grow: 1;
}

.team-container > div {
  position:absolute; 
  left: 0; 
  right: 0; 
  top: 0; 
  bottom: 0; 
  transition: top .25s, bottom .25s, left .5s, right .5s, box-shadow .5s;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.team-container > div:hover {
  left: -1em;
  right: 1em;
  top: -1em;
  bottom: 1em;
  box-shadow: 1em 1em .5em .2em #bebebe80;
}

.team-container > div:hover::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(244, 140, 130, 89%), rgba(252, 225, 138, 89%));
  z-index: 0;
}

.team-container-square {
  width: 2em;
  height: 2em;
  display: flex;
}

.team-container-square:not(:last-child) {
  border-right: .1pt solid #f38181;
}

.team-container-square a {
  color: #f38181;
}

.team-container-square:hover {
  background: #f38181;
}

.team-container-square:hover a {
  color: #fff;
}

.work-container-gallery {
  flex: 1 1 0px;
}

.work-container-gallery > div {
  flex: 1;
  height: 16em;
  overflow: hidden;
  max-width: 100%;
}

.work-container-gallery > div {
  position: relative;
}

.work-container-gallery > div > div {
  display: none;
  z-index: 1;
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
  color: #fff;
}

.work-container-gallery > div:hover > div {
  display: flex;
}

.work-container-gallery > div:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(244, 140, 130, 89%), rgba(252, 225, 138, 89%));
}

.work-container-gallery-box {
  min-width: 15em; 
  max-width: 20em; 
  height: 15em; 
  min-height: 15em; 
  max-height: 15em; 
  overflow: hidden;
}

.work-container-gallery-box img {
  width: 100%; 
  margin-top: -13em;
}

.testomonial-image {
  width: 8em;
  height: 8em;
}

.testomonial-image img {
  margin-left: 0em;
  max-width: 100%;
}
.image-round {
  overflow: hidden;
  border-radius: 50%;
  background: #bebebe;
  display: flex;
  z-index: 1;
}